<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title or "ETD Controller" }}</title>

  <!-- Global CSS -->
  <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">

  {% block head_extra %}{% endblock %}
</head>
<body>

  <header>
    <h1>ETD Control Panel</h1>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Global JS -->
  <script src="{{ url_for('static', path='js/app.js') }}"></script>
  {% block script_extra %}{% endblock %}

</body>
</html>
