{% extends "base.html" %}

{% block content %}
<h2>{{ device.name if device else "Device tidak ditemukan" }}</h2>

{% if not device %}
<p style="color:red;">Device tidak ditemukan.</p>

{% elif channels %}
<table border="1" id="channel-table">
    <tr>
        <th>Channel</th>
        <th>Nama</th>
    </tr>
    {% for ch in channels %}
    <tr>
        <td>{{ ch.channel }}</td>
        <td>{{ ch.name }}</td>
    </tr>
    {% endfor %}
</table>

<button id="btnLoad">Refres</button>
<div id="grid"></div>

{% else %}
<p>Tidak ada channel.</p>
{% endif %}
{% endblock %}

{% block script_extra %}
<script src="{{ url_for('static', path='js/etd8a12.js') }}"></script>
{% endblock %}
