<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title or 'App' }}</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <header>
    <h1>{{ title or 'App' }}</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/etd8a12">ETD 8A12</a>
      <a href="/docs">Docs</a>
      <a href="/redoc">ReDoc</a>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <small>&copy; SyahdanKijang</small>
  </footer>
</body>
</html>
